.SideBar-Style{
    width: 250vw;
    background-color: #2f2f2f;
    transition: width 0.2s ease;
    overflow: hidden;
    flex-direction: column;
}

.SideBar-Style.open{
    width: 250px;
}

.SideBar-Style.closed{
    width: 50px;
}

.Hamburger-Style{
    display: flex;
    color: white;
    background-color: transparent;
}

.Notes-Style{
    width: 100%;
    height: 5vh;
    background-color: transparent;
    color: white;
    flex-direction:column;
}

.A-Note-style{
    font-size: medium;
    flex-direction: row;
}