.header{
    display:flex;
    top:0;
    left:0;
    width:100%;
    justify-content: flex-start;
    align-items: "center";
    padding: "0 16px";
    color:black;
}

.title{
    margin: 0;
}

.tab{
    margin: 0;
}
.linkStyle{
    left:16,
}